<div class="page-header">
  <h1>People</h1>
</div>
<div class="sort-links">
  <p><strong>Sort by:</strong></p>
  <%= link_to "First Name (a)", root_path(sort: 'first_name', order: 'DESC') %> |
  <%= link_to "Last Name (a)", root_path(sort: 'last_name', order: 'DESC') %> |
  <%= link_to "Eye Color (a)", root_path(sort: 'eye_color', order: 'DESC') %> |
  <%= link_to "Birth Date (a)", root_path(sort: 'date_of_birth', order: 'DESC') %> |
  <%= link_to "First Name (d)", root_path(sort: 'first_name', order: 'ASC') %> |
  <%= link_to "Last Name (d)", root_path(sort: 'last_name', order: 'ASC') %> |
  <%= link_to "Eye Color (d)", root_path(sort: 'eye_color', order: 'ASC') %> |
  <%= link_to "Birth Date (d)", root_path(sort: 'date_of_birth', order: 'ASC') %> |
  <%= link_to "Only Awesome!", root_path(awesome: 'awesome') %> |
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Eye Color</th>
      <th>Date of Birth</th>
      <th>Height in Inches</th>
      <th>Awesome?</th>
      <th>Created At</th>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.eye_color %></td>
        <td><%= person.date_of_birth %></td>
        <td><%= person.height_in_inches %></td>
        <td><%= person.awesome %></td>
        <td><%= person.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
